{% extends "base.html" %}
{% load static i18n %}

{% block content %}

<div id="slideshow">
   <div class="slideitem current">
     <img src="http://basik.ru/images/1920x1080_63/15_1920x1080.jpg">
   </div>
   <div class="slideitem">
     <img src="http://i2.fastpic.ru/big/2010/0321/36/49436230f02b95ce11f903fc8f683936.jpg">
   </div>
   <div class="slideitem">
     <img src="http://k37.kn3.net/1B107A604.jpg">
   </div>
   <div class="slideitem">
     <img src="http://wallpaperscraft.com/image/87654/1920x1080.jpg">
   </div>
   <div class="slideitem">
     <img src="http://mirtajn.com/uploads/posts/2013-01/1359577392_high_altitude_eclipse_by_nethskie-d2xq0ww.jpg">
   </div>
   <div class="slideitem">
     <img src="http://img15.nnm.me/3/4/2/b/2/3f06025f75b6fd3544b947da06f.jpg">
   </div>
</div>


          <!-- events cards starting here -->
		<!-- ************************************ -->

		<center><h1>Events</h1></center>
		<div class="cards-list">

<div class="card 1">
  <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
  <div class="card_title title-white">
    <p>Card Title</p>
  </div>
</div>

  <div class="card 2">
  <div class="card_image">
    <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" />
    </div>
  <div class="card_title title-white">
    <p>Card Title</p>
  </div>
</div>

<div class="card 3">
  <div class="card_image">
    <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
  </div>
  <div class="card_title">
    <p>Card Title</p>
  </div>
</div>

  <div class="card 4">
  <div class="card_image">
    <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
    </div>
  <div class="card_title title-black">
    <p>Card Title</p>
  </div>
  </div>

</div>

    <!-- event cards ends here -->


{% endblock content %}
