{% extends "base.html" %}
{% load static i18n %}

{% block content %}

<div id="slideshow">
   <div class="slideitem current">
     <img src="https://source.unsplash.com/1600x900/?Bangladesh">
   </div>
   <div class="slideitem">
     <img src="https://source.unsplash.com/1600x900/?India">
   </div>
   <div class="slideitem">
     <img src="https://source.unsplash.com/1600x900/?Pakistan">
   </div>
   <div class="slideitem">
     <img src="https://source.unsplash.com/1600x900/?Nepal">
   </div>
   <div class="slideitem">
     <img src="https://source.unsplash.com/random">
   </div>
   <div class="slideitem">
     <img src="https://source.unsplash.com/random">
   </div>
</div>


          <!-- events cards starting here -->
		<!-- ************************************ -->

		<center><h1>Events</h1></center>
		<div class="cards-list">

<div class="card 1">
  <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
  <div class="card_title title-white">
    <p>Card Title</p>
  </div>
</div>

  <div class="card 2">
  <div class="card_image">
    <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" />
    </div>
  <div class="card_title title-white">
    <p>Card Title</p>
  </div>
</div>

<div class="card 3">
  <div class="card_image">
    <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
  </div>
  <div class="card_title">
    <p>Card Title</p>
  </div>
</div>

  <div class="card 4">
  <div class="card_image">
    <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
    </div>
  <div class="card_title title-black">
    <p>Card Title</p>
  </div>
  </div>

</div>

    <!-- event cards ends here -->


{% endblock content %}
