{% extends "base.html" %}
{% load static i18n %}

{% block content %}

<div id="slideshow">
   <div class="slideitem current">
     <img src="https://source.unsplash.com/collection/190727/1600x900">
   </div>
   <div class="slideitem">
     <img src="https://source.unsplash.com/collection/190727/1600x900">
   </div>
   <div class="slideitem">
     <img src="https://source.unsplash.com/daily">
   </div>
   <div class="slideitem">
     <img src="https://source.unsplash.com/user/erondu/daily">
   </div>
   <div class="slideitem">
     <img src="https://source.unsplash.com/random">
   </div>
   <div class="slideitem">
     <img src="https://source.unsplash.com/random">
   </div>
</div>


          <!-- events cards starting here -->
		<!-- ************************************ -->

		<center><h1>Events</h1></center>
		<div class="cards-list">

<div class="card 1">
  <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
  <div class="card_title title-white">
    <p>Card Title</p>
  </div>
</div>

  <div class="card 2">
  <div class="card_image">
    <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" />
    </div>
  <div class="card_title title-white">
    <p>Card Title</p>
  </div>
</div>

<div class="card 3">
  <div class="card_image">
    <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
  </div>
  <div class="card_title">
    <p>Card Title</p>
  </div>
</div>

  <div class="card 4">
  <div class="card_image">
    <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
    </div>
  <div class="card_title title-black">
    <p>Card Title</p>
  </div>
  </div>

</div>

    <!-- event cards ends here -->


<!-- event scoller -->
<div class="container">
		<h1>Image Scroller</h1>
		<p>Scroll stops when hovered...</p>
	</div>

	<div class="container item-wrapper">

		<div class="item"><img src="https://images.pexels.com/photos/753994/pexels-photo-753994.jpeg?dl&fit=crop&crop=entropy&w=216&h=216" alt=""></div>

		<div class="item"><img src="https://images.pexels.com/photos/690729/pexels-photo-690729.jpeg?dl&fit=crop&crop=entropy&w=216&h=216" alt=""></div>

		<div class="item"><img src="https://images.pexels.com/photos/753994/pexels-photo-753994.jpeg?dl&fit=crop&crop=entropy&w=216&h=216" alt=""></div>

		<div class="item"><img src="https://images.pexels.com/photos/690729/pexels-photo-690729.jpeg?dl&fit=crop&crop=entropy&w=216&h=216" alt=""></div>

		<div class="item"><img src="https://images.pexels.com/photos/753994/pexels-photo-753994.jpeg?dl&fit=crop&crop=entropy&w=216&h=216" alt=""></div>

		<div class="item"><img src="https://images.pexels.com/photos/690729/pexels-photo-690729.jpeg?dl&fit=crop&crop=entropy&w=216&h=216" alt=""></div>

	</div>



{% endblock content %}
