body {
  background: #003558;
  color: #eee;
  padding-top: 50px;
}

.item-wrapper {
	position: relative;
	overflow: hidden;
	/* Change this to manipulate item-size */
	height: 200px;
	text-align: justify;
}
.item-wrapper:after {
	content:"";
	display: inline-block;
	width: 100%;
	height: 0;
}

.item {
	position: relative;
	display: inline-block;
	height: 100%;
	width: auto;
	border: 2px solid #fff;
}

.item img {
	height: 100%;
	width: auto;
}

/* Just because ;) */
@media (max-width: 768px) {
	.item-wrapper {
		height: 140px;
	}
}
